<!doctype html>
<html lang ="en-US">
  <head>
    <title>CMS Project</title>
    <meta charset ="UTF-8">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <% if session[:message] %>
      <div>
        <p class="flash_message"><%= session.delete(:message) %></p>
      </div>
    <% end %>
    <div>
      <main>
        <%== yield %>
      </main>
    </div>
  </body>
</html>