<form action="/create/new" method="post">
  <p>
    <label for="new_file">Add a new document:</label>
    <br>
    <input type="text" name="new_file" id="new_file" />
    <input type="submit" value="create" />
  </p>
</form>