<h2>User Sign In</h2>

<p>Users must be signed in to view or modify individual files.</p>

<form action="/users/signin" method="post">
  <label for="username">Username:
    <input type="text" name="username" id="username" />
  </label>
  <br><label for="password">Password:
    <input type="text" name="password" id="password" />
  </label>
  <br><button type="submit">Sign In</button>
</form>

<p>Don't have an accont? Create one here.</p>