body {
  font-family: Arial, Helvetica, sans-serif
}

.flash_message {
  padding: 10px;
  background: #FFFF99;
}

.inline {
  display: inline;
}

.user_status {
  font-style: italic;
  font-size: 0.9em;
}